/* =======font femily start============= */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Merienda:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Merienda:wght@300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Merienda:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* --------font femily end---------------*/
/* =======veriable start============= */
:root {
  --poppins: 'Poppins', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --brand_color: #007f5f;
  --praymari_color: #1e1e1e;
  --scounder_color: #616161;
  --open_sens: 'Open Sans', sans-serif;
}

/* --------variable femily end---------------*/
/* =======common css start============= */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* --------common css end---------------*/
/* =======main_menu start============= */
.main_menu {
  padding: 40px 0;
}
.main_menu ul li a {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color) !important;
  transition: all linear 0.3s;
}
.main_menu ul li a:hover {
  color: black !important;
}
.main_menu .manu_button a {
  width: 150px;
  height: 56px;
  background: var(--brand_color);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
  border: 2px solid var(--brand_color);
  transition: all linear 0.3s;
}
.main_menu .manu_button a:hover {
  background: transparent;
  color: var(--brand_color);
}
/* --------main_menu  end---------------*/
/* =======banner_part start============= */
#banner_part {
  width: 100%;
  background: url(../imges/bannerbg.png);
  padding-top: 147px;
  padding-bottom: 122px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#banner_part::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.banner_head h1 {
  width: 573px;
  font-size: 65px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
}
.banner_head p {
  width: 582px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #ffffff;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 40px;
}
.banner_button a {
  width: 180px;
  height: 56px;
  background: var(--brand_color);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
  transition: all linear 0.3s;
}
.banner_button a:hover {
  background: #fff;
  color: var(--brand_color);
}
.banner_option {
  width: 825px;
  display: flex;
  align-items: center;
  padding: 24px 27px 24px 25px;
  background: #fff;
  border-radius: 10px;
  margin-top: 60px;
}
.option_head {
  display: flex;
}
.location_icon {
  color: var(--brand_color);
}
.option_head h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--nunito);
  color: #292929;
  margin-left: 11px;
  margin-right: 20px;
}
.option_input input {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--nunito);
  color: #6a6a6a;
  border: none;
  margin-top: 8px;
  padding-left: 26px;
}
.option_input input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--nunito);
  color: #6a6a6a;
}
.option_serch a {
  width: 82px;
  height: 82px;
  background: var(--brand_color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  border: 2px solid var(--brand_color);
  transition: all linear 0.3s;
}
.option_serch a:hover {
  background: transparent;
  color: var(--brand_color);
}
/* --------Travel Benefit end---------------*/
/* =======Travel Benefit start============= */
#travel_benefit {
  padding: 150px 0;
}
.travel_head h1 {
  width: 455px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin: 0 auto;
}
.travel_head p {
  width: 692px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_colors);
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 112px;
}
.benefit_card {
  width: 422px;
  padding: 79px 77px 47px 44px;
  background: #fff;
  border-radius: 14px;
  transition: all linear.3s;
  margin-bottom: 30px;
}
.benefit_card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.benefit_card_icon {
  width: 84px;
  height: 78px;
  background: rgba(0, 128, 96, 0.1);
  padding: 17px 24px 20px 23px;
  border-radius: 14px;
}
.benefit_card_head h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-top: 39px;
  margin-bottom: 20px;
}
.benefit_card_head p {
  width: 262px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  line-height: 30px;
}
/* --------font femily end---------------*/
/* =======popular_destinationstart============= */
#popular_destination {
  padding: 150px 0;
}

.destination_head h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  text-align: center;
}
.destination_head p {
  width: 692px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.slider_review ul {
  display: flex;
  gap: 6px;
}
.destinetion_slider_item {
  width: 370px;
  padding: 21px 20px 42px 21px;
}
.destination_slider_img {
  border-radius: 14px;
}
.slider_review ul {
  color: #ff8b00;
  padding-left: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.slider_head h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--praymari_color);
  line-height: 24px;
}
.slider_head p {
  width: 306px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--scounder_color);
  line-height: 30px;
  margin: 20px 0;
}
.slider_head h3 {
  font-size: 20px;
  font-weight: 600px;
  font-family: var(--poppins);
  color: var(--praymari_color);
  line-height: 24px;
}
.slider_head span {
  font-size: 16px;
  font-weight: 400px;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 24px;
}
.slider_button a {
  width: 150px;
  height: 48px;
  border: 2px solid var(--brand_color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--poppins);
  color: var(--brand_color);
  border-radius: 17px;
  margin-top: 20px;
}
.slick-center {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.slick-center a {
  background: var(--brand_color);
  color: #fff;
}
/* --------popular_destination end---------------*/
/* =======travel_partstart============= */
#travel_discover {
  padding: 150px 0;
  background: rgba(30, 30, 30, 0.05);
}
.travel_option_one {
  display: flex;
  gap: 10px;
}
.travel_discover_head h1 {
  width: 418px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.travel_discover_head p {
  width: 516px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
  margin-top: 20px;
}
.travel_option_one p {
  width: 338px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
}
.travel_option_one span {
  color: var(--brand_color);
}
.travel_button a {
  width: 189px;
  height: 56px;
  background: var(--brand_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  border-radius: 17px;
  color: #fff;
  border: 2px solid var(--brand_color);
  margin-top: 40px;
  transition: all linear.3s;
}
.travel_button a:hover {
  background: transparent;
  color: var(--brand_color);
}
/* --------travel_part end---------------*/
/* =======counter_part start============= */
.counter_part {
  width: 270px;
  background: #fff;
  padding: 62px 32px 62px 32px;
  border-radius: 17px;
  transition: all linear 0.3s;
}
.counter_part:hover {
  background: var(--brand_color);
}
.counter_img {
  width: 74px;
  height: 78px;
  padding: 22px 19px 21px 20px;
  background: rgba(0, 127, 95, 0.1);
  border-radius: 14px;
  transition: all linear 0.3s;
}
.counter_part:hover .counter_img {
  background: #fff;
}
.counter h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-top: 20px;
  transition: all linear 0.3s;
}
.counter_part:hover .counter h2 {
  color: #fff;
}
.counter p {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--scounder_color);
  transition: all linear 0.3s;
}
.counter_part:hover .counter p {
  color: #fff;
}
/* --------counter_part end---------------*/
/* ======selected_destination start============= */
#selected_destination {
  padding-top: 149px;
  padding-bottom: 137px;
}
.margin_div_one {
  margin-left: 93px;
}
.selected_destination_head h2 {
  width: 507px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-top: 123px;
}
.selected_destination_head p {
  width: 516px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.selected_destination_button a {
  width: 225px;
  height: 56px;
  background: var(--brand_color);
  border: 2px solid var(--brand_color);
  border-radius: 17px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all linear 0.3s;
}
.selected_destination_button a:hover {
  background: transparent;
  color: var(--brand_color);
}
.selected_destination_img {
  position: relative;
}
.icon_color span {
  color: var(--brand_color);
  margin-left: 12px;
}
.icon_color {
  width: 350px;
  height: 52px;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 52px;
  position: absolute;
  margin-top: -154px;
}
.icon_color input {
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: transparent;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  margin-left: 12px;
}
.list_item_one {
  width: 350px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  line-height: 42px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  margin-top: -103px;
}
.list_item_one:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list_item_one p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  margin-left: 48px;
}
.list_item_one p:hover {
  font-size: 16px;
  font-weight: 600;
}
.list_item_one span {
  color: var(--brand_color);
  margin-right: 8px;
}
.list_item_two {
  width: 350px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  line-height: 42px;
  border-radius: 8px;
  position: absolute;
  margin-top: -61px;
}
.list_item_two:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list_item_two p {
  font-weight: 400;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  margin-left: 48px;
}
.list_item_two p:hover {
  font-size: 16px;
  font-weight: 600;
}
.list_item_two span {
  color: var(--brand_color);
  margin-right: 8px;
}
.list_item_three {
  width: 350px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  line-height: 42px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  margin-top: -19px;
}
.list_item_three:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list_item_three p {
  font-weight: 400;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  margin-left: 48px;
}
.list_item_three p:hover {
  font-size: 16px;
  font-weight: 600;
}
.list_item_three span {
  color: var(--brand_color);
  margin-right: 8px;
}
.list_item_three span {
  color: var(--brand_color);
  margin-right: 8px;
}
.margin_div {
  margin-left: 78px;
}
.selected_destination_img_two {
  margin-top: 70px;
}
.selected_destination_head_two {
  margin-top: 123px;
}
.selected_destination_head_two h3 {
  width: 489px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.selected_destination_head_two p {
  width: 431px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.selected_destination_option {
  display: flex;
  margin-left: -30px;
}
.selected_destination_option ul li {
  display: flex;
  gap: 10px;
}
.selected_destination_option ul li span {
  color: var(--brand_color);
}
.selected_destination_option ul li p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
}
.margin_div_three {
  margin-left: 93px;
}
.selected_destination_head_three {
  margin-top: 80px;
}
.selected_destination_head_three h4 {
  width: 507px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.selected_destination_head_three p {
  width: 516px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_colors);
  margin-top: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}
.selected_destination_img_three {
  margin-top: 70px;
}
.selected_destination_img_three {
  position: relative;
}
.selected_destination_option_three .p_one {
  width: 230px;
  height: 52px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  border-radius: 8px;
  position: absolute;
  margin-top: -225px;
  margin-left: 65px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.selected_destination_option_three .p_two {
  width: 234px;
  height: 52px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  border-radius: 8px;
  position: absolute;
  margin-top: -137px;
  margin-left: 117px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.selected_destination_option_three .p_three {
  width: 315px;
  height: 52px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--open_sens);
  color: var(--scounder_color);
  border-radius: 8px;
  line-height: 52px;
  text-align: center;
  position: absolute;
  margin-top: -48px;
  margin-left: 95px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.destination_accro {
  width: 420px;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-item {
  background-color: rgba(0, 128, 96, 0.1);
  border-radius: 8px;
  border: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-button::after {
  margin-left: 11px;
}
.destination_accro .collapsed .radio {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid var(--scounder_color);
  border-radius: 50%;
  margin-right: 11px;
}
.destination_accro .radio {
  width: 20px;
  height: 20px;
  background: var(--brand_color);
  border: 2px solid var(--scounder_color);
  border-radius: 50%;
  margin-right: 11px;
  border: none;
}
.destination_accro h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.destination_accro p {
  width: 336px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--open_sens);
  color: var(--scounder_color);
}
/* --------selected_destination end---------------*/
/* =======explore_destination start============= */
#explore_destination {
  padding-top: 137px;
  padding-bottom: 25px;
}
.explore_head h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.explore_head p {
  width: 485px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  margin-top: 20px;
}
.navs_button {
  margin-top: 30px;
  margin-bottom: 94px;
}
.nav-tabs {
  --bs-nav-tabs-border-width: none;
}
.nav {
  justify-content: space-between;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.navs_button .active {
  background: var(--brand_color) !important;
}
.navs_button .navs_one {
  width: 231px;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  background: #f3f3f3;
  color: var(--scounder_color);
  border-radius: 17px;
}
.navs_button .navs_two {
  width: 298px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  background: #f3f3f3;
  color: var(--scounder_color);
  border-radius: 17px;
}
.navs_button .navs_three {
  width: 339px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  background: #f3f3f3;
  color: var(--scounder_color);
  border-radius: 17px;
}
.navs_button .navs_fore {
  width: 147px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  background: #f3f3f3;
  color: var(--scounder_color);
  border-radius: 17px;
}
.navs_button .navs_five {
  width: 217px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  background: #f3f3f3;
  color: var(--scounder_color);
  border-radius: 17px;
}
.navs_swiper_item {
  width: 370px;
  padding: 21px 20px 29px 21px;
  border-radius: 10px;
  margin-bottom: 53px;
}
.navs_img img {
  border-radius: 14px;
}
.navs_img {
  position: relative;
}
.navs_img ul {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: -30px;
  color: #ff8b00;
}
.swiper_navs_head h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.swiper_navs_head p {
  width: 325px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
}
.swiper_navs_location {
  display: flex;
  gap: 14px;
}
.swiper_navs_location span {
  margin-top: 18px;
}
.swiper_navs_location p {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--scounder_color);
  margin-top: 14px;
}
.circle i {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #ff5a5f;
  position: absolute;
  top: 14px;
  left: 283px;
}
.swiper-slide-next .navs_swiper_item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* --------explore_destination end---------------*/
/* =======testimonial start============= */
#testimonial {
  padding-top: 25px;
  padding-bottom: 124px;
}
.circle_img {
  position: relative;
}
.circle_img .img_one {
  width: 114px;
  height: 114px;
  position: absolute;
  top: 125px;
  right: 93px;
}
.circle_img .img_two {
  width: 123px;
  height: 123px;
  position: absolute;
  top: 353px;
  left: 0;
}
.circle_img .img_three {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 329px;
  left: 293px;
}
.circle_img .img_fore {
  width: 107px;
  height: 107px;
  position: absolute;
  top: 542px;
  left: 228px;
}
.circle_img .img_five {
  width: 84px;
  height: 84px;
  position: absolute;
  top: 479px;
  right: 62px;
}
.tesmonial_item {
  margin-left: 86px;
}
.testimonial_head {
  margin-top: 239px;
}
.testimonial_head h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-bottom: 41px;
  margin-left: 86px;
}
.testimonial_commeent p {
  width: 538px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--scounder_color);
  line-height: 30px;
  margin-top: 24px;
}
.visitor_head h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
  margin-bottom: 44px;
}

/* --------testimonialend---------------*/
/* =======subscribe start============= */
#subscribe_part {
  padding-top: 150px;
  padding-bottom: 150px;
  background: url(../imges/subcrib.png);
}
.subsvribe_head h2 {
  width: 659px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.subsvribe_head p {
  width: 565px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0 auto;
}
.subscribe_bar {
  padding: 9px 11px 9px 25px;
  width: 770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 0 auto;
  border-radius: 17px;
  margin-top: 52px;
}
.subscribe_bar input {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #9d9d9d;
  border: none;
}
.subscribe_bar input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #9d9d9d;
}
.subscribe_bar .buttons {
  width: 169px;
  height: 82px;
  border: none;
  background: var(--brand_color);
  border-radius: 17px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
  border: 2px solid var(--brand_color);
  transition: all linear 0.3s;
}
.subscribe_bar .buttons:hover {
  background: transparent;
  color: var(--brand_color);
}
/* --------subscribeend---------------*/
/* =======footer_part start============= */
#footer_part {
  padding-top: 150px;
  padding-bottom: 105px;
}
.footer_midea_logo {
  margin-top: 39px;
  margin-left: -31px;
}
.footer_midea_logo ul {
  display: flex;
  gap: 40px;
}
.footer_midea_logo ul li {
  list-style: none;
}
.footer_contect {
  margin-left: -30px;
  margin-top: 46px;
}
.footer_contect ul li a {
  width: 344px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--poppins);
  color: var(--scounder_color);
}
.footer_text h1 {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--praymari_color);
}
.footer_text p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  line-height: 30px;
  color: var(--scounder_color);
  margin-top: 30px;
}
/* --------footer_part end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
/* =======font femily start============= */

/* --------font femily end---------------*/
